.login-bg {
    background: #274376;
    display: flex;
    justify-content: center;
    align-items: center;     
    padding: 40px;         
    box-sizing: border-box;
}

.login-container {
    max-width: 1000px;
    width: 100%;
    display: flex;
    background: #fff;
    gap: 20px;
}

.login-left, .login-right {
    flex: 1;
}

.login-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left img {
    width: 90%;
    opacity: .9;
}

.title-login {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #131313;
}

.input-group {
    position: relative;
    margin-bottom: 18px;
}

.input-group input {
    width: 100%;
    padding: 14px 16px 14px 45px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 15px;
      box-sizing: border-box;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    width: 20px;
    opacity: .7;
}

.forgot, .signup-text {
    color: #6b7280;
    font-size: 14px;
    text-align: right;
}

.signup-text { text-align: center; }

.btn-login {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    background: #1e3a8a;
    color: #dfe3ea;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-login:hover { background: #3b82f6; }

.divider {
    margin: 25px 0;
    position: relative;
    text-align: center;
    color: #6b7280;
}
.divider span { background: #fff; padding: 0 10px; }
.divider::before, .divider::after {
    content: "";
    width: 40%;
    height: 1px;
    background: #d1d5db;
    position: absolute;
    top: 50%;
}
.divider::before { left: 0; }
.divider::after { right: 0; }

.social-buttons {
    display: flex;
    gap: 10px;
}
.btn-social {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
}
.btn-social:hover { background: #f4f4f4; }
.social-icon { width: 20px; opacity: .9; }

.layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: #f1f5f9;
}

.sidebar {
    width: 80px;
    background: #fff;
    border-right: 1px solid #e2e8f0;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.menu {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.menu img {
    width: 24px;
    opacity: .7;
}

.menu:hover { background: #e2e8f0; }

.content {
    flex: 1;
    padding: 40px 60px;
}

.content h2 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #333;
}

.cards {
    display: flex;
    gap: 25px;
}

.card {
    width: 260px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 14px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
}

.card-icon {
    width: 40px;
    opacity: .6;
    margin-bottom: 10px;
}

.card p { color: #555; margin-bottom: 6px; }
.card h3 { font-size: 26px; font-weight: 700; color: #222; }

.btn-view {
    padding: 12px 22px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}
.btn-view:hover { background: #eee; }

.table-products {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    overflow: hidden;
}

.table-products th,
.table-products td {
    padding: 14px 16px;
    border-bottom: 1px solid #f0f0f0;
    text-align: left;
}

.table-products th {
    background: #fafafa;
    font-weight: 600;
}

.table-products tr:last-child td {
    border-bottom: none;
}

.icon-edit, .icon-delete {
    width: 22px;
    cursor: pointer;
    opacity: .75;
    transition: .2s;
}

.icon-edit:hover,
.icon-delete:hover {
    opacity: 1;
}

@media (max-width:700px) {
    .cards { flex-direction: column; }
    .content { padding: 25px 20px; }
    .sidebar { width: 60px; }
    .menu { width: 40px; height: 40px; }
    .menu img { width: 20px; }
}
